/* Body of Component */

.flexContainer {
    display: flex;
}

.chatRoomList {
    width: 33.33%;
    float: left;
}

.chatRoomListElement-left {
    float: left;
    width: 90%;
}

.chatRoomListElement-right {
    float: right;
    width: 10%;
}

.chat {
    float: right;
    width: 66.66%;
}