<div class="flexContainer">
    <div class="flexElement chatRoomList">
        <div class="openChatRoom" *ngFor="let element of openChats" (click)="openChatRoom(element)">
            <div class="chatRoomListElement-left">
                <span *ngIf="element.participantOne.name === user.name">{{element.participantTwo.name}}</span>
                <span *ngIf="element.participantTwo.name === user.name">{{element.participantOne.name}}</span><br>
                <svg width="100" height="40">
                    <circle cx="5" cy="30" r="2" stroke="black" stroke-width="2" fill="black" />
                    <circle cx="15" cy="30" r="2" stroke="black" stroke-width="2" fill="black" />
                    <circle cx="25" cy="30" r="2" stroke="black" stroke-width="2" fill="black" />
                </svg>
            </div>
            <div class="chatRoomListElement-right">
                5:00
            </div>
        </div>
    </div>
    <div class="flexElement chat">
        <app-chat *ngIf="chatRoom" [loggedInUser]="user" [chatRoom]="chatRoom"></app-chat>
        <app-picture *ngIf="!chatRoom"></app-picture>
    </div>
</div>