# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Chat-System\chat-service-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
