:host {
    margin-top: 10px;
}

#sendMessage {
    width: 100%;
    padding: 5px 15px 5px 15px;
    margin: 5px 5px 10px 5px;
    border-radius: 40px;
    background-color: #f8f9fa;
    border: 2px solid #707070;
}

#sendMessageButton {
    display: none;
}

li {
    list-style-type: none;
}

.incoming_msg {
    display: inline-block;
    width: 45%;
    padding: 10px 15px 5px 20px;
    border-radius: 40px;
    background-color: #f8f9fa;
    border: 2px solid #707070;
    border-radius: 40px;
    margin: 5px 5px 5px 5px;
}

.outgoing_msg {
    width: 65%;
    padding: 10px 15px 5px 20px;
    border: 2px solid #707070;
    background-color: #bfd8e6;
    border-radius: 40px;
    float: inline-end;
    margin: 5px 5px 5px 5px;
}

.time {
    text-align: right;
}

form {
    text-align: center;
    width: 99%;
}