:host {
    margin-top: 10px;
}

div.msgHistory {
    height: 85vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
}

.InputField {
    position: absolute;
    width: 66%;
    bottom: 0;
    right: 0;
}

.InputFieldFlexBox {
    display: flex;
    flex-direction: column;

.msg {
    display: flex;
}

#sendMessage {
    width: 100%;
    padding: 5px 15px 5px 15px;
    margin: 0px 0px 0px 0px;
    border-radius: 40px;
    background-color: #f8f9fa;
    border: 2px solid #707070;
}

#sendMessageButton {
    display: none;
}

.remainingChars {
    margin: 0px 10px 2.5px 0px;
    float: right;
}

.text-danger {
    font-weight: bold !important;
}

li {
    list-style-type: none;
}

.incoming_msg {
    width: auto;
    max-width: 45%;
    padding: 10px 15px 5px 20px;
    border-radius: 40px;
    background-color: #f8f9fa;
    border: 2px solid #707070;
    border-radius: 40px;
    margin: 5px auto 5px 5px;
    justify-content: flex-start;
}

.outgoing_msg {
    width: auto;
    max-width: 65%;
    padding: 10px 15px 5px 20px;
    border: 2px solid #707070;
    background-color: #bfd8e6;
    border-radius: 40px;
    margin: 5px 5px 5px auto;
    justify-content: flex-end;
}

.time {
    text-align: right;
}

form {
    text-align: center;
    width: 99%;
}