<div class="msgHistory" id="msgHistory">
    <li class="msg" *ngFor="let message of messages">
        <div *ngIf="message.sentBy.id !== loggedInUser.id
            then incoming_msg
            else outgoing_msg">
        </div>
        <ng-template #incoming_msg>
            <div class="incoming_msg">
                <div>
                    <span> {{ message.content }} </span>
                </div>
                <div class="time text-muted">
                    <small> {{ message.timestamp | date:"short" }} </small>
                </div>
            </div>
        </ng-template>
        <ng-template #outgoing_msg>
            <div class="outgoing_msg">
                <div>
                    <span> {{ message.content }} </span>
                </div>
                <div class="time text-muted">
                    <small> {{ message.timestamp | date:"short" }} </small>
                </div>
            </div>
        </ng-template>
    </li>

</div>
<div class="InputField">
    <form class="InputFieldFlexBox" [formGroup]="inputForm" (ngSubmit)="sendMessage(inputForm.value.message)">
        <div class="InputFieldFlexElement">
            <input id="sendMessage" type="text" name="message" placeholder="Nachricht" formControlName="message" maxlength="140" (keyup)="countChars(inputForm.value.message)" autocomplete="off">
        </div>
        <div class="InputFieldFlexElement">
            <small *ngIf="remainingChars > 0; else remainingCharsWarn" class="form-text text-muted remainingChars"> Noch
                {{ remainingChars }} Zeichen übrig </small>
            <ng-template #remainingCharsWarn>
                <small class="form-text text-danger remainingChars"> Noch {{ remainingChars }} Zeichen übrig </small>
            </ng-template>
        </div>
        <input id="sendMessageButton" type="submit">
    </form>
</div>