<nav id="header" class="navbar navbar-expand-xxl text-white">
    <div class="container-fluid">
        <!-- title -->
        <a class="mb-0 h1 font-weight-bold homeLink">NotsApp</a>
        <!-- clickable icons on the right of the header -->
        <form class="d-flex" *ngIf="loggedIn">
            <div (click)="newChat()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM17 11h-4v4h-2v-4H7V9h4V5h2v4h4v2z"/>
                </svg>
            </div>
            <span class="bl"></span>
            <div (click)="logOut()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
                </svg>
            </div>
        </form>
    </div>
</nav>